<!-- views/contact.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/contact">Contato</a></li>
    </ul>
  </nav>


  <div class="presentation">
    <div class="sidebar"></div> <!-- Barra lateral -->
    <h2>Seção de Apresentação</h2>
    <p>
      Sua introdução ou qualquer conteúdo de apresentação vai aqui...
      Sua introdução ou qualquer conteúdo de apresentação vai aqui...
      Sua introdução ou qualquer conteúdo de apresentação vai aqui...
      Sua introdução ou qualquer conteúdo de apresentação vai aqui...
    </p>
</div>

  <h1>Contato</h1>

  <p>Entre em contato conosco pelo WhatsApp:</p>
  <a href="https://wa.me/5514997183302?text=+Ol%C3%A1%2C+gostaria+de+saber+mais+sobre+o+servi%C3%A7o+de+design+de+unhas." target="_blank">
    <button class="whatsapp-button">Entrar em Contato</button>
  </a>
  <div class="image-container">
      <img src="https://i.imgur.com/oauibhp.png" alt="banner" style="  width: 400px; height: 800px; margin-top: 10px;">
</div>
</body>



  <footer>
  <p>&copy; 2024 Ana Laura Seresuela. Todos os direitos reservados.</p>
</footer>
</html>
